@{
    ViewData["Title"] = "Blog for Andrew Pino: Andrew Pino";
}
@using System.Web
@using Microsoft.AspNetCore.Html
@using Pomelo.EntityFrameworkCore.MySql.Infrastructure
@using System.Globalization
@model List<AndrewPino.BlogDb.DataModels.Blog>;

<div class="container mt-3">
  @foreach (var blog in Model)
  {
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-8">
            <h4><strong>@blog.Title</strong></h4>
          </div>
        </div>
        <div class="row">
          @if (String.IsNullOrEmpty(blog.ImageUrl))
          {
            <div class="col-12">
              <p>
                @Html.Raw(blog.Body)
              </p>
              @* <p><a class="btn" href="#">Read more</a></p> *@
            </div>
          }
          else
          {
            <div class="col-2">
              @if (!String.IsNullOrEmpty(blog.ImageUrl))
              {
                <a href="#">
                  <img src="https://files.andrewpino.com/blog/@blog.ImageUrl" class="img-thumbnail" alt="@blog.Title">
                </a>
              }
            </div>
            <div class="col-10">
              <p>
                @Html.Raw(blog.Body)
              </p>
              @* <p><a class="btn" href="#">Read more</a></p> *@
            </div>
          }
        </div>
        <div class="row">
          <div class="col-8">
            <p></p>
            <p>
              @* <i class="far fa-user"></i> by <a href="#">John</a> *@
              <i class="far fa-calendar-alt"></i> @blog.CreatedDate.ToString(CultureInfo.InvariantCulture)
              @if (blog.BlogComments.Count > 0)
              {
                <i class="far fa-comment-alt"></i> <a href="#">@blog.BlogComments.Count.ToString() Comments</a>
              }
              @* | <i class="far fa-share-square"></i> <a href="#">39 Shares</a> *@
              @if (blog.BlogTags.Count > 0)
              {
                <text>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-tags"></i> Tags&nbsp;</text>
              }
              @foreach (var tag in blog.BlogTags.Select(bbt => bbt.Tag))
              {
                <span class="badge badge-pill badge-primary">@tag.Text</span>
              }
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr class="thick-hr">
  }
</div>